<md-dialog aria-label="Rate this page">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Rate this page</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Enter a short description</label>
          <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-warn" ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="saveRating()">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>